* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #242f44;
    color: white;
    font-family: 'Oswald', sans-serif;    
}

header {
    position: relative;
    top: 78px;
}

header>h1 {
    font-size: 36px;
    font-weight: 700;
    padding: 15px;
    color: #8c6b48;
    background-color: white;
    text-align: center;
    letter-spacing: 2px;
}

header>h2 {
    font-size: 32px;
    padding: 15px;
    color: #8c6b48;
    background-color: white;
    text-align: center;
    letter-spacing: 2px;
}

.logo {
    width: 64px;
    height: 64px;
    margin-left: 17px;
}

nav {
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424f66;
    display: table;
    width: 100%;
}

nav li {
    display: table-cell
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    background-color: #242f44;
    text-decoration: underline;
}

.container {
    border: 2px solid #8c6b48;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    margin: 10px 10px;
    position: relative;
    top: 78px;
}

.container>h2 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.color-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.font-container .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.color-card {
    box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.2);
    transition: 0.2s;
    min-width: 20%;
    margin: 10px 10px 20px 10px;
    border-radius: 5px;
    background-color: #424f66;
}

.color-card:hover {
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2);
}

.color-panel {
    margin: 0px auto;
    min-height: 250px;
    border-radius: 5px 5px 0 0;
    margin: 16px 16px 0 16px;
}

.green-1 {
    background-color: #1B3409;
    color: #fff;
}

.green-2 {
    background-color: #375F1B;
    color: #000;
}

.green-3 {
    background-color: #66B032;
}

.green-4 {
    background-color: #9BD770;
}

.green-5 {
    background-color: #EBF7E3;
}

.color-panel-footer {
    padding: 2px 16px;
}

.font-card {
    box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.2);
    transition: 0.2s;
    border-radius: 5px;
    margin: 10px 10px 20px 10px;
}

.font-card:hover {
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2);
}

.font-panel {
    background-color: #424f66;
    line-height: 40px;
    border-radius: 5px 5px 0 0;
    padding: 16px;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.alfa-slab-one {
    font-family: 'Alfa Slab One', cursive;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.segoe-ui {
    font-family: 'Segoe UI', Arial, sans-serif;
}

.font-panel-footer {
    padding: 16px;
}

.text-card {
    box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.2);
    transition: 0.2s;
    border-radius: 5px;
    margin: 10px 10px 20px 10px;
}

.text-card:hover {
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2);
}

.text-panel-header {
    padding: 16px;
}

.text-panel {
    background-color: #424f66;
    line-height: 40px;
    border-radius: 0 0 5px 5px;
    padding: 16px;
}

.text-panel-header h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Alfa Slab One', cursive;
    padding: 15px;
    color: #8c6b48;
    background-color: white;
}

.text-panel-header h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    color: #8c6b48;
    background-color: white;
}

.text-panel-header p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Segoe UI', Arial, sans-serif;
    padding: 15px;
    color: #8c6b48;
    background-color: white;
}

footer {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    text-align: center;
    background-color: #424f66;
    margin-top: 90px;
    position: sticky;
    bottom: 0px;
    z-index: 5;
}

footer p {
    letter-spacing: 2px;
}
